html, body{
    height: 100%;
}

a:link{
    text-decoration: none;
}

.content{
    height: 100%;
}

.nav-bar{
    display: flex;
    background-color: black;
    height: 50px;
    align-items: center;
}
.nav-bar.content{
    padding: 0px 0px 0px 15px;
    color:white;
}

.content-behind-navbar{
    height: 100%;
    display: flex;

}

.unit-nav-left{
    padding: 0px 0px 0px 15px;
    border-bottom: 1px solid #e2dbda;
    height: 30px;
}

.content-nav-left{
    flex-grow: 1;
    background-color: #888;
}

.cover-nav-left{
    margin-top: 10px;
}

.row-nav-left{
    color:#0c1721;
}

.content-right{
    flex-grow:9;
    
}
.overview{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 1;
    padding-left: 50px;
}

.baseCircle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 60px;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    display: flex;
    font-size: 50px;
    color: white;
}

.unit-nav-left.sub{
    padding-left: 50px;
}
.unit-nav-left:hover{
    background-color: rgb(236, 218, 218);
}





